:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-border: 1px solid #eee;
    --main-transition: 0.3s;
}
* {
    box-sizing: border-box;
}
body {
    font-family: "open sans", sans-serif;
    margin: 0;
}
*:focus {
    outline: none;
}
a {
    text-decoration: none;
}
.page {
    min-height: 100vh;
    background-color: #f1f5f9;
}
ul {
    list-style: none;
    padding: 0;
}
/* da al scroll ele fe al saf7a kolha */
::-webkit-scrollbar {
    width: 15px;
}
/* da loon al scroll nafsha */
::-webkit-scrollbar-track {
    background-color: white;
}
/* da loon al bakra up and down */
::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}
/* Start sidebar-l */
.sidebar-l {
    width: 58px;
    box-shadow: 0 0 10px #ddd;
    padding: 10px;
}
.sidebar-l > h3 {
    font-size: 10px;
    margin-bottom: 15px;
}
.sidebar-l ul li a{
    margin-bottom: 0 auto 5px;
}
.sidebar-l ul li a:hover,
.sidebar-l a.active {
    background-color: #f6f6f6;
}
.sidebar-l ul li a span{
    font-size: 14px;
    margin-left: 10px;
}
@media (min-width: 768px) {
    .sidebar-l {
        width: 250px;
        box-shadow: 0 0 10px #ddd;
        padding: 20px;
    }
    .sidebar-l > h3 {
        margin-bottom: 50px;
        font-size: 18px;
        font-weight: bold;
    }    
    .sidebar-l > h3::before,
    .sidebar-l > h3::after {
        content: '';
        position: absolute;
        background-color: black;
        transform: translateX(-50%);
        left: 50%;
    }
    .sidebar-l > h3::before {
        bottom: -65%;
        width: 70px;
        height: 2px;
    }
    .sidebar-l > h3::after {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 4px solid white;
        bottom: -25px;
    }
}
/* End sidebar-l */
/* Start content */
/* Start Head */
.head .search::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f002';
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}
.head .search [type="search"] {
    padding-left: 30px;
    width: 160px;
    transition: width var(--main-transition);
}
.head .search [type="search"]:focus {
    width: 200px;
}
.head .search [type="search"]:focus::placeholder {
    color: transparent;
    /* opacity: 0; */
}
.head .icons .notification::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: -5px;
    right: -5px;
    background: var(--red-color);
    border-radius: 50%;
}
.head .icons img {
    width: 32px;
    height: 32px;
    margin: 0 0 0 15px;
}
.page h1 {
    margin: 20px 20px 40px;
}
.page h1::before, 
.page h1::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 3px;
    background-color: white;
    bottom: -10px;
    left: 0;
}
.page h1::after {
    background-color: black;
    width: 40px;
}
/* -----------------------------------------Start Index */
/* Start Wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}   
@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
/* Start Welcome Widget */
.welcome {
    overflow: hidden;
}
.welcome .intro img {
    width: 200px;
    margin-bottom: -10px;
}
.welcome .avatar {
    border: 2px solid white;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin: -32px 0 0 20px;
}
.welcome .visit {
    margin: 0 15px 15px auto;
}
@media (max-width: 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar {
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child) {
        margin-bottom: 20px;
    }
}
/* End Welcome Widget */
/* Start Quick Draft Widget */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}
.quick-draft .save {
    margin: 0 0 0 auto;
}
/* End Quick Draft Widget */
/* Start Targets Widget */
.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}
.targets .details .progress {
    height: 4px;
}
.targets .details .progress > span {
    top: 0;
    left: 0;
}
.targets .details .progress > span span {
    bottom: 16px;
    right: -16px;
    padding: 2px 5px;
}
.targets .details .progress > span span::before {
    content: '';
    position: absolute;
    border: 5px solid;
    bottom: -10px;
    left: 50%;
    transform: translatex(-50%);
}
.targets .details .progress > .blue span::before {
    border-color: var(--blue-color) transparent transparent transparent;
}
.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.targets .details .progress > .orange span::before {
    border-color: var(--orange-color) transparent transparent transparent;
}
.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.targets .details .progress > .green span::before {
    border-color: var(--green-color) transparent transparent transparent;
}
.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* End Targets Widget */
/* Start Tickets Widget */
.tickets .box {
    width: calc(50% - 10px);
}
@media (max-width: 767px) {
    .tickets .box {
        width: 100%;
    }
}
/* End Tickets Widget */
/* Start Latest News Widget */
.latest-news .news-row:not(:last-of-type) {
    border-bottom: var(--main-border);
}
@media (max-width: 767px) {
    .latest-news .news-row .label {
        margin: 10px auto 0;
        width: fit-content;
    }
    .latest-news .news-row:last-of-type {
        margin: 0 ;
    }
}
/* End Latest News Widget */
/* Start Latest Tasks Widget */
.tasks .task-row:not(:last-of-type) {
    border-bottom: var(--main-border);
}
.tasks .done {
    opacity: .3;
}
.tasks .done h3, 
.tasks .done p {
    text-decoration: line-through;
}
.tasks .delete {
    cursor: pointer;
}
.tasks .delete:hover {
    color: var(--red-color);
}
/* End Latest Tasks Widget */
/* Start Latest Uploads Widget */
.latest-uploads ul li:not(:last-child) {
    border-bottom: var(--main-border);
}
.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}
/* End Latest Uploads Widget */
/* Start Last Project */
.last-project ul::before {
    content: '';
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}
.last-project ul li::before {
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}
.last-project ul li.done::before {
    content: '';
    background-color: var(--blue-color);
}
.last-project ul li.current::before {
    animation: change-color 0.8s infinite alternate;
}
.last-project .lanunch-icon {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
    opacity: .1;
}
/* End Last Project */
/* Start Reminders Widget */
.reminders ul li .key {
    height: 15px;
    width: 15px;
}
.reminders ul li > .blue {
    border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
    border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
    border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
    border-left: 2px solid var(--red-color);
}
/* End Reminders Widget */
/*  Start Latest Post Widget  */
.latest-post .top > .avatar {
    width: 48px;
    height: 48px;
}
.latest-post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    min-height: 140px;
}
/*  End Latest Post Widget  */
/* Start Social Media Stats Widget */
.social-media .box {
    padding-left: 70px;
}
.social-media .box i {
    position: absolute;
    left: 0;
    top: 0;
    width: 52px;
}
.social-media .box i:hover {
    transform: rotate(5deg);
}
.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}
.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}
.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}
.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}
.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}
/* End Social Media Stats Widget */
/* End Wrapper */
/* Start Projects Table */
.projects .responsive-table {
    overflow-x: auto;
}
.projects table {
    min-width: 1000px;
    /* de al fwasl bta3t al border been al table */
    border-spacing: 0;
}
.projects tbody tr:hover td {
    background-color: #faf7f7;
}
.projects tbody td:last-child {
    border-right: var(--main-border);
}
.projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
}
.projects table img:not(:first-child) {
    margin-left: -20px;
}
.projects table .label {
    font-size: 13px;
}
/* End Projects Table */
/* End Content */
/* ----------------------------------------End Index */
/* --------------------------------------------Start Settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin: 0 10px;
        gap: 10px;
    }
}
/* Start Site Control  */
.settings-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
}
/* End Site Control  */
/* Start General Info */
.settings-page .email {
    /* 3shan tb2a ele ba3dha ganbha */
    display: inline-flex;
    /* hena hn2ll width 80 > width=a */
    width: calc(100% - 80px);
}
/* End General Info */
/* Start Security Info */
.settings-page .sec-box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}
/* End Security Info */
/* Start Social Info */
.settings-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
}
.settings-page .social-boxes input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-radius: 0 6px 6px 0;
}
/* de m3naha y3ne lw dosna 3la al child at7km fe al 2ab we awlado kman */
.settings-page .social-boxes > div:focus-within i {
    color: black;
}
/* End Social Info */
/* Start Widgets Control */
.widgets-control .control [type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}
.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.widgets-control .control label::before, 
.widgets-control .control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
}
.widgets-control .control label::before {
    content: '';
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
}
.widgets-control .control label:hover::before {
    border-color: var(--blue-alt-color);
}
.widgets-control .control label::after {
    font-family: "Font Awesome 5 Free";
    content: '\f00c';
    font-weight: 900;
    background-color: var(--blue-color);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: var(--main-transition);
}
.widgets-control .control [type="checkbox"]:checked + label::after{
    transform: scale(1);
}
/* End Widgets Control */
/* Start Backup Manager */
.backup-control [type="radio"] {
    -webkit-appearance: none;
    appearance: none;
}
.backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}
.backup-control .date label::before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    top: 50%;
    left: 0;
    margin-top: -11px;
}
.backup-control .date label::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--blue-color);
    border-radius: 50%;
    left: 5px;
    top: 5px;
    transition: var(--main-transition);
    transform: scale(0);
}
.backup-control .date [type="radio"]:checked + label::before {
    border-color: var(--blue-color);
}
.backup-control .date [type="radio"]:checked + label::after {
    transform: scale(1);
}
.backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
}
@media (max-width: 767px) {
    .backup-control .servers {
        flex-wrap: wrap;
    }
}
.backup-control .servers .server {
    border: 2px solid black;
}
.backup-control .servers .server label {
    cursor: pointer;
}
.backup-control .servers [type="radio"]:checked + .server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}
/* End Backup Manager */
.settings-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
}
/* ----------------------------------------End Settings */
/* ----------------------------------------Start Profile Page */
/* Start Overview */
@media (max-width: 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}
.profile-page .avatar-box {
    width: 300px;
}
@media (min-width: 768px) {
    .profile-page .avatar-box {
        border-right: var(--main-border);
    }
}
.profile-page .avatar-box > img {
    width: 120px;
    height: 120px;
}
.profile-page .avatar-box .level {
    height: 6px;
    margin: auto;
    width: 70%;
    overflow: hidden;
}
.profile-page .avatar-box .level  span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}
.profile-page .info-box .box:hover {
    background-color: #f9f9f9;
}
.profile-page .info-box .box h4 {
    font-weight: normal;
}
.profile-page .info-box .box > div {
    min-width: 250px;
    padding: 10px 0 0;
}
@media (max-width: 767px) {
    .small-toggle-switch {
        margin: auto;
    }
}
/* End Overview */
/* Start Other Date  */
@media (max-width: 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}
.profile-page .skills-card {
    flex-grow: 1;
}
.profile-page .skills-card ul li {
    padding: 15px 0;
}
.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: var(--main-border);
}
.profile-page .skills-card ul li span {
    display: inline-flex;
}
.profile-page .skills-card ul li span:not(:last-child) {
    margin-right: 5px;
}
.profile-page .activities {
    flex-grow: 2;
    /* aw lw 3ayzhom al 2 div ze ba3d yb2a al 2= grow 1 */
}
.profile-page .activity:not(:last-of-type) {
    border-bottom: var(--main-border);
}
@media (min-width: 768px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }
}
@media (max-width: 767px) {
    .profile-page .activity {
        flex-direction: column;
    }
    .profile-page .activity img {
        margin: 0;
        margin-bottom: 20px;
    }
    .profile-page .activity .date {
        margin-top: 15px;
    }
}
/* End Other Date  */
/* -----------------------------------------End Profile Page */
/* -----------------------------------------Start Projects Page */
.projects-page {
    grid-template-columns: repeat(auto-fill, minmax(500px , 1fr));
}
@media (max-width: 767px) {
    .projects-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.projects-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}
.projects-page .project h4 {
    font-weight: normal;
}
.projects-page .project .team {
    position: relative;
    min-height: 80px;
}
.projects-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
}
.projects-page .project .team a:nth-child(2) {
    left: 25px;
}
.projects-page .project .team a:nth-child(3) {
    left: 50px;
}
.projects-page .project .team a:nth-child(4) {
    left: 75px;
}
.projects-page .project .team a:nth-child(5) {
    left: 100px;
}
.projects-page .project .team a:hover {
    z-index: 100;
}
.projects-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}
.projects-page .project .do {
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .projects-page .project .do {
        flex-direction: column;
    }
}
@media (max-width: 767px) {
    .projects-page .project .do span:not(:last-child) {
        margin-bottom: 15px;
    }
    .projects-page .project .do span {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 767px) {
    .projects-page .project .info {
        flex-direction: column;
    }
}
.projects-page .project .prog {
    height: 8px;
    width: 260px;
}
@media (max-width: 767px) {
    .projects-page .project .prog {
        margin-bottom: 15px;
    }
}
.projects-page .project .prog span {
    top: 0;
    left: 0;
    height: 100%;
}
/* -----------------------------------------End Projects Page */
/* -----------------------------------------Start Courses Page */
.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px , 1fr));
}
@media (max-width: 767px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.courses-page .course {
    overflow: hidden;
}
.courses-page .course .cover {
    max-width: 100%;
}
.courses-page .course .instructor {
    left: 20px;
    top: 20px;
    border: 2px solid white;
}
.courses-page .course .description {
    line-height: 1.6;
}
.courses-page .course .info .titlee {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translateX(-50%);
    height: 27px;
}
/* -----------------------------------------End Courses Page */
/* -----------------------------------------Start Friends Page */
.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.friends-page .contact {
    left: 10px;
    top: 10px;
}
.friends-page .contact i {
    color: #666;
}
.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}
.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: .2;
}
/* -----------------------------------------End Friends Page */
/* -----------------------------------------Start Files Page */
/* Start Files Stats  */
.files-page {
    align-items: start;
    flex-direction: row-reverse;
}
@media (max-width: 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}
.files-page .files-stats{
    min-width: 260px;
}
.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.files-page .files-stats .size {
    margin-left: auto;
}
.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .green {
    background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .red {
    background-color: rgb(255 0 0 / 20%);
}
.files-page .files-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}
.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
}
.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}
.files-page .files-stats .upload:hover i {
    animation: go-up .8s infinite;
}
/* End Files Stats  */
/* Start Files Content  */
.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.files-page .files-content .file:hover img {
    transform: rotate(5deg);
}
/* End Files Content  */
/* -----------------------------------------End Files Page */
/* -----------------------------------------Start Plans Page */
.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
    .plans-page {
        grid-template-columns: minmax(250px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}
.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}
.plans-page .plan.green .top {
    outline-color: var(--green-color);
}
.plans-page .plan.blue .top {
    outline-color: var(--blue-color);
}
.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}
.plans-page .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}
.plans-page .price span {
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 25px;
}
.plans-page .plan ul li {
    padding: 15px 0;
    font-size: 15px;
}
.plans-page .plan ul li .yes {
    color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
}
.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}
.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}
/* -----------------------------------------End Plans Page */
/* -----------------------------------------Start Animation */
@keyframes change-color {
    from {
        background-color: var(--blue-color);
    }
    to {
        background-color: white;
    }
}
@keyframes go-up {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}
/* End Animation */