:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start Box flex-box */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.f-1 {
    flex: 1;
}
.spac-betw {
    justify-content: space-between;
}
.align-c {
    align-items: center;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
    .block-mobile {
        display: block;
    }
}
/* End Box */
/* Start Padding + Margin  */
.p-0 {
  padding: 0;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.p-30 {
  padding: 30px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-50 {
  padding-top: 50px;
}
.pr-20 {
  padding-right: 20px;
}
.pr-30 {
  padding-right: 30px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-30 {
  padding-left: 30px;
}
.m-0 {
    margin: 0;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-35 {
    margin-top: 35px;
}
.mt-100 {
  margin-top: 100px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.ml-5 {
    margin-left: 5px;
}
.ml-20 {
    margin-left: 20px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-40 {
  margin-bottom: 40px;
}
.ov-flow {
    overflow: hidden;
}
/* End Padding + Margin  */
/* Start Color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-444 {
  background-color: #444;
}
.c-black{
    color: black;
}
.c-blue {
    color: var(--blue-color);
}
.c-white {
    color: white;
}
.c-grey {
    color: var(--grey-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-green {
    color: var(--green-color);
}
.c-red {
    color: var(--red-color);
}
.c-555 {
  color: #555;
}
.c-fff {
  color: #fff;
}
/* End Color */
/* Start Position */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* End Position */
/* Start Font */
.txt-c {
    text-align: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
  font-size: 18px;
}
.fs-25 {
    font-size: 25px;
}
.fs-50 {
  font-size: 50px;
}
.fs-60 {
  font-size: 60px;
}
.fw-bold {
    font-weight: bold;
}
.h-64 {
    height: 64px;
}
.h-100 {
    height: 100px;
}
.h-100_ {
  height: 100%;
}
.w-64 {
    width: 64px;
}
.w-100 {
    width: 100px;
}
.w-100_ {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
@media (max-width: 767px) {
    .txt-c-moblie {
        text-align: center;
    }
}
/* End Font */
/* Start Border */
.b-none {
    border: none;
}
.border-ccc {
    border: 1px solid #ccc;
}
.bt-eee {
    border-top: var(--main-border);
}
.bb-eee {
    border-bottom: var(--main-border);
}
.bl-eee {
    border-left: var(--main-border);
}
.b-eee {
    border: var(--main-border);
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}
/* End Border */
/* Start Media */
/* End Media */
/* Start Componanets */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tittle {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
.prag {
    color: var(--grey-color);
    font-size: 14px;
}
.imag {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}
/* ---------------End Componanets */
.transi {
    transition: var(--main-transition);
}
.cur-pointer {
    cursor: pointer;
}
/* da botton shape shakl al zorar */
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    width: fit-content;
}
/* Small toggle-switch */
.toggle-checkbox {
    --webkit-appearance: none;
    /* ------------------------------*/
    appearance: none;
    /* hena kda 5fenah 5als */
    display: none;
}
.small-toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 22px;
    border-radius: 11px;
    position: relative;
    transition: var(--main-transition);
    cursor: pointer;
}
.small-toggle-switch::before {
    font-family: "Font Awesome 5 Free";
    content: '\f00d';
    font-weight: 900;
    font-size: 9px;
    background-color: white;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: var(--main-transition);
}
.toggle-checkbox:checked + .small-toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .small-toggle-switch::before {
    content: '\f00c';
    left: 60px;
    color: var(--blue-color);
}
/* Small toggle-switch */
/* toggle-switch */
.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: var(--main-transition);
    cursor: pointer;
}
/* da 3lamt X */
.toggle-switch::before {
    font-family: "Font Awesome 5 Free";
    content: '\f00d';
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    /* top=4 yb2a 4+4 foo2,ta7t=8 + 24h = 32px koll al height ,32/2=16px rad */
    top: 4px;
    /* hena left hnseeb 4px shmal */
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
    content: '\f00c';
    /* hena b2a hnseeb 4px-r= 4+50 left=54px +24px width =78px >> all width  */
    left: 50px;
    color: var(--blue-color);
}
/* toggle-switch */
/* Change Button */
.button {
    transition: var(--main-transition);
    cursor: pointer;
}
.button:hover {
    background-color: var(--blue-alt-color);
}
/* Change Button */